<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
   <meta charset="utf-8">
   <!--        <script src="/js/layoutScript.js" type="text/javascript" >-->
   <!--        </script>-->

   <!--        <script type="text/javascript" src="/static/js/layoutScript.js"></script>-->

   <!-- Tell the browser to be responsive to screen width -->
   <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

   <meta http-equiv="x-ua-compatible" content="ie=edge">

   <title>RefHelper</title>

   <meta name="description" content="w4kened - RefHelper">


   <!--            <font color="FFFFFF"></font>-->
   <!--        <link rel="stylesheet" href="./style.css">-->
   <link rel="stylesheet" th:href="@{app/bootstrap/dist/css/bootstrap.min.css}">
   <link rel="stylesheet" th:href="@{app/font-awesome/css/font-awesome.min.css}">
   <link rel="stylesheet" th:href="@{app/Ionicons/css/ionicons.min.css}">
   <link rel="stylesheet" th:href="@{app/admin/css/AdminLTE.min.css}">
   <link rel="stylesheet" th:href="@{app/admin/css/skins/_all-skins.min.css}">
   <link rel="stylesheet" th:href="@{app/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}">

   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

   <style>
      #sidebar {
         margin-left: 3%;
         margin-right: 3%;
      }
      #sidebarList {
         overflow-y: scroll !important;
         overflow-x: hidden !important;
         height: 50rem !important;
         width: 100% !important;
         padding-left: 1rem;
         /*                border: 1px solid #87AC52;*/
      }
      #markerColor {
         color: #000000;
         margin-block: 3%;
         width: 100%;
      }
      #searchField {
         color: #000000;
         margin-block: 4%;
         width: 100%;
         margin-bottom: 8%;
      }
      /* Default styles for the button */
      .btncls {
         background-color: #87AC52; /* Set your default background color */
         color: #fff; /* Set your default text color */
         margin-block: 3% !important;
         margin-left: 6rem;
      }
      /* Styles for the active state */
      .btncls.active {
         background-color: #D2938E; /* Set your active background color */
         color: #fff; /* Set your active text color */
      }
      /*            body {*/
      /*                color: #fff !important;*/
      /*            }*/
      select {
      }
      .highlight {
         background-color: #87AC52 !important;
      }
      .list-group-item {
         border: 1px solid #87AC52 !important;
         background-color: #222D32;
         margin-left: -1rem;
         display: flow-root list-item !important;
      }
      .fa {
         font-size: 2.5rem;
      }
      p {
         color: white;
      }
      .fw-bold {
         font-weight: bold;
      }
      .modal {
         z-index: 1050; /* or a higher value than the modal backdrop */
      }
      .modal-backdrop, .fade, .in {
         z-index: -1 !important;
      }
      .btn-circle.btn-xl {
         width: 70px;
         height: 70px;
         padding: 10px 16px;
         font-size: 24px;
         line-height: 1.33;
         border-radius: 35px;
         /*                margin-left: 104rem;*/
         margin-left: 54vw;
         bottom: 1vw;
         /*                margin-block: 14rem;*/
         position: fixed;
         z-index: -1;
      }
      .btn-circle {
         opacity: 83.3%;
         color: green;
         background-color: #87AC52 !important;
      }
      .modal-dialog {
         margin-left: 28vw !important;
         margin-right: auto !important;
         width: 57% !important;
/*         margin-left: 50rem !important;*/
/*         width: 57% !important;*/
      }
      .btn-primary {
         background-color: #87AC52 !important;
      }
      .row {
         color: black !important;
      }
      #profile, #aids {
         width: 100% ;
      }
   </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
   <header class="main-header">
      <!-- Logo -->
      <a href="localhost:8080" class="logo" style="background: #1e282c;">
         <!-- mini logo for sidebar mini 50x50 pixels -->
         <!-- logo for regular state and mobile devices -->
         <span class="logo-lg"><b style="color: #87ac52 ">REF+</b>HELPER</span>
      </a>
   </header>
   <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar" id="sidebar">
         <select class="form-select" id="markerColor" aria-label="Default select example" onchange="findMarkers(this)">
            <option value="all">All Aids</option>
            <option value="2">Healthcare Aid</option>
            <option value="3">Education Aid</option>
            <option value="4">Employment Aid</option>
            <option value="5">Legal Aid</option>
            <option value="6">Community Aid</option>
            <option value="1">Basic Necessities Aid</option>
         </select>
         <!--                    <button id="toggleMarkerMode" class="btn btncls" type="button">-->
         <!--                        Add aid-->
         <!--                    </button>-->

         <input type="text" id="searchField" name="keyword">
         <ol id="sidebarList"></ol>
         <!-- Button trigger modal -->
         <button type="button" class="btn btn-primary btn-circle btn-xl"  data-toggle="modal" data-target="#exampleModal">
            <i class="glyphicon glyphicon-home"></i>
         </button>

         <!-- Modal -->
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Home Menu</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <ul class="nav nav-tabs">
                        <li class="nav-item active">
                           <a class="nav-link active" data-toggle="tab" href="#profile">My Profile</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" data-toggle="tab" href="#aids">Aid Offers</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" data-toggle="tab" href="#responses">Aid Responses</a>
                        </li>
                     </ul>
                     <div class="tab-content">
                        <div id="profile" class="container tab-pane active">
                           <h4>Profile</h4>
                           <div class="container-fluid">
                              <div class="row">
                                 <div class="col-md-4">
                                    <p style="font-weight: bold; color: black;">Name:</p>
                                    <p style="font-weight: bold; color: black;">Email:</p>
                                    <p style="font-weight: bold; color: black;">Role:</p>
                                    <p style="font-weight: bold; color: black;">Number of Unanswered Requests:</p>
                                    <p style="font-weight: bold; color: black;">Total Aid Responses:</p>
                                    <h4 style="display: flex; margin-left: -1.5rem;">Service Statistics:</h4>
                                    <div id="chartContainer" style="height: 37rem; width: 100%;"></div>

                                 </div>
                                 <div class="col-md-4">
                                    <p style="color: black;" th:text="${userFullName}"></p>
                                    <p style="color: black;" th:text="${data}"></p>
                                    <p style="color: black;" th:text="${role}"></p>
                                    <p style="color: black;" th:text="${aidsUnansweredCount}"></p>
                                    <p style="color: black;" th:text="${aidsResponsedCount}"></p>
                                    <br><br>
                                    <div id="chartContainer2" style="height: 37rem; width: 100%;"></div>

                                 </div>
                                 <div class="col-md-4">
<!--                                    <p style="color: black;">&#45;&#45;</p>-->
                                    <br><br><br><br><br><br><br><br><br>
                                    <div id="chartContainer3" style="height: 37rem; width: 100%;"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div id="aids" class="container tab-pane fade">
                           <h4>Aid Offers</h4>
                           <button type="button" onclick="sortByDistance()" class="btn btn-primary">Sort By Distance</button>

                           <select id="categorySelect" class="custom-select form-select" style="  width: 100% !important;   margin-block: 1rem;">
                              <option value="All">All Aids</option>
                              <option value="Healthcare Aid">Healthcare Aid</option>
                              <option value="Education Aid">Education Aid</option>
                              <option value="Employment Aid">Employment Aid</option>
                              <option value="Legal Aid">Legal Aid</option>
                              <option value="Community Aid">Community Aid</option>
                              <option value="Basic Necessities Aid">Basic Necessities Aid</option>
                           </select>

                           <input type="text" class="form-control" id="menuSearchField" placeholder="Enter keyword..." name="keyword" >

<!--                           <button type="button" onclick="createAidReq();" class="btn btn-primary">Create Request</button>-->
<!--                           <a style="color: white !important;"  class="btn btn-primary" th:href="@{/addAid}">Offer Aid</a>-->

                           <div class="table-responsive">
                              <table class="table">
                                 <thead>
                                 <tr>
                                    <th>Distance</th>
                                    <th>Aid Category</th>
                                    <th>Aid Description</th>
                                    <th>Aid Address</th>
                                    <th>Created Date</th>
                                    <th>Action</th>
                                 </tr>
                                 </thead>
                                 <tbody id="tableBody">
                                 <tr th:if="${aidsList.empty}">
                                    <td colspan="4">No Aids Available</td>
                                 </tr>
                                 <tr th:each="aid, stat : ${aidsList}">
                                    <td th:id="'distId-' + ${aid.latitude} + '-' + ${aid.longitude}"><span></span></td>
                                    <td><span th:text="${aid.aidCategoryEntity.getName()}">Aid Category</span></td>
                                    <td><span id="descId" th:text="${aid.description}">Aid Description</span></td>
                                    <td><span id="addressId" th:text="${aid.address}">Aid Address</span></td>
                                    <td> <span th:text="${#temporals.format(aid.createdDate, 'yyyy-MM-dd')}">Created Date</span></td>
                                    <td style="display: grid; width: 50%;gap: 0.5rem;">
                                       <a style="color: white !important;" th:onclick="'showOnMap(' + ${aid.latitude} + ', ' + ${aid.longitude} + ');'" class="btn btn-primary" data-dismiss="modal">Show On Map</a>
                                       <a style="color: white !important;" th:href="@{'/requestAid/'+ ${aid.id}}" onclick="return confirmRequest() " class="btn btn-primary">Request</a>
                                    </td>
                                 </tr>
                                 </tbody>
                              </table>
                              <div class="pagination" id="paginationTable1">
                                 <button id="aids-prevBtn">Previous</button>
                                 <span id="pageNumbersTable1"></span>
                                 <button id="aids-nextBtn">Next</button>
                              </div>

                           </div>
<!--                           <div id='itemList'></div>-->

                           <!--                           &lt;!&ndash;                                            <button type="button" class="btn btn-primary">&ndash;&gt;-->
<!--                           <a style="color: white !important;"  class="btn btn-primary" th:href="@{/addAid}">Offer Aid</a>-->
<!--                           &lt;!&ndash;                                            </button>&ndash;&gt;-->
<!--                           <div class="table-responsive">-->
<!--                              <table class="table">-->
<!--                                 <thead>-->
<!--                                 <tr>-->
<!--                                    <th>Aid Category</th>-->
<!--                                    <th>Aid Description</th>-->
<!--                                    <th>Created Date</th>-->
<!--                                    <th>Action</th>-->
<!--                                 </tr>-->
<!--                                 </thead>-->
<!--                                 <tbody>-->
<!--                                 <tr th:if="${aidsList.empty}">-->
<!--                                    <td colspan="4">No Aids Available</td>-->
<!--                                 </tr>-->
<!--                                 <tr th:each="aid : ${aidsList}">-->
<!--                                    <td><span th:text="${aid.aidCategoryEntity.getName()}">Aid Category</span></td>-->
<!--                                    <td><span th:text="${aid.description}">Aid Description</span></td>-->
<!--                                    <td><span th:text="${aid.createdDate}">Created Date</span></td>-->
<!--                                    <td>-->
<!--                                       &lt;!&ndash; edit &ndash;&gt;-->
<!--                                       &lt;!&ndash;                                                            <button type="button" class="btn btn-primary edit-aid">&ndash;&gt;-->
<!--                                       <a style="color: white !important;" th:href="@{'/editAid/'+ ${aid.id}}" class="btn btn-primary">Edit</a>-->
<!--                                       &lt;!&ndash;                                                            </button>&ndash;&gt;-->
<!--                                       &lt;!&ndash;                                                            <button type="button" class="btn btn-danger">&ndash;&gt;-->
<!--                                       &lt;!&ndash;                                                                Delete&ndash;&gt;-->
<!--                                       &lt;!&ndash;                                                            </button>&ndash;&gt;-->
<!--                                       <a style="color: white !important;" th:href="@{'/deleteAid/'+ ${aid.id}}" class="btn btn-danger" onclick="return confirmDelete()">Delete</a>-->

<!--                                       &lt;!&ndash; delete &ndash;&gt;-->
<!--                                    </td>-->
<!--                                 </tr>-->
<!--                                 </tbody>-->
<!--                              </table>-->

<!--                           </div>-->
                        </div>
                        <div id="responses" class="container tab-pane fade">
                           <h4>Aid Responses</h4>
                           <div class="table-responsive" style="max-width:100rem">
                              <table class="table">
                                 <thead>
                                 <tr>
                                    <th>Aid Category</th>
                                    <th>Aid Description</th>
                                    <th>Aid Address</th>
                                    <th>Volunteer Name</th>
                                    <th>Volunteer Email</th>
                                    <th>Response</th>
<!--                                    <th>Action</th>-->
                                 </tr>
                                 </thead>
                                 <tbody id="responsesTableBody">
                                 <tr th:if="${responsesAidsList.empty}">
                                    <td colspan="4">No Responses</td>
                                 </tr>
                                 <tr th:each="resp, stat : ${responsesAidsList}">
<!--                                    <td th:id="'respDistId-' + ${resp.aidEntity.latitude} + '-' + ${resp.aidEntity.longitude}">-->
<!--                                       <span></span>-->
<!--                                    </td>-->
                                    <td><span th:text="${resp.aidEntity.aidCategoryEntity.name}">Aid Category</span></td>
                                    <td><span id="descId2" th:text="${resp.aidEntity.description}">Aid Description</span></td>
                                    <td><span id="addressId2" th:text="${resp.aidEntity.address}">Aid Address</span></td>
                                    <td><span th:text="${resp.aidEntity.usersAidsEntities[0].userEntity.name}">Volunteer Name</span></td>
                                    <td><span th:text="${resp.aidEntity.usersAidsEntities[0].userEntity.email}">Volunteer Email</span></td>
                                    <td><span id="responseId2" th:text="${resp.aidInteraction}">Response</span></td>
                                    <!-- You can format the date using temporals.format -->
<!--                                    <td><span th:text="${#temporals.format(aid.aidEntity.createdDate, 'yyyy-MM-dd')}">Created Date</span></td>-->
                                    <td style="display: grid; width: 50%; gap: 0.5rem;">
                                       <!-- Add your action buttons or links here -->
                                    </td>
                                 </tr>
                                 </tbody>
                              </table>
                              <div class="pagination" id="paginationTable2">
                                 <button id="responses-prevBtn">Previous</button>
                                 <span id="pageNumbersTable2"></span>
                                 <button id="responses-nextBtn">Next</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
         <div th:if="${param.AidRequestedSuccessfull}" style="margin-bottom: -9rem;" class="alert alert-success">

<!--            <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--               <span aria-hidden="true">&times;</span>-->
<!--            </button>-->

            Aid Requested Successfully!
            <a style="color: white !important;"  th:href="@{'/home'}" class="btn btn-primary">OK</a>

         </div>

         <a th:href="@{/logout}" style="position:fixed; bottom: 1vw">Logout</a>
      </section>
   </aside>
   <div class="content-wrapper">
      <section class="content" layout:fragment="content">
      </section>
   </div>
</div>


<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script th:src="@{app/jquery-ui/jquery-ui.min.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->



<script th:inline="javascript">
   $.widget.bridge('uibutton', $.ui.button)
   $('#exampleModal').on('shown.bs.modal', function (e) {
      // Initial setup
      showPageTable1(1);
      showPageTable2(1);
      //      showPageTable2(1);
      displayPageNumbersTable1();
      displayPageNumbersTable2();
      document.getElementById('aids-prevBtn').addEventListener('click', prevPageTable1);
      document.getElementById('aids-nextBtn').addEventListener('click', nextPageTable1);
      initializeTotalServiceRequestsChart();
      initializeRegionalDistributionOfAidsChart()
      initializeRegionalDistributionOfRefugeesChart();

   });



   function sortByDistance() {
      const tableBody = document.getElementById('tableBody');
      const rows = Array.from(tableBody.querySelectorAll('tr'));

      rows.sort(function(a, b) {
         const distance1 = parseFloat(a.querySelector('td').innerText.replace(' km away', ''));
         const distance2 = parseFloat(b.querySelector('td').innerText.replace(' km away', ''));
         return distance1 - distance2;
      });

      rows.forEach(function(row) {
         tableBody.appendChild(row);
      });
//      console.log(rows);
      showPageTable1(pageNumber1);
//      console.log('rows sorted');
   }





   const itemsPerPageTable1 = 5; // Number of items per page for Table 1
   const tableRowsTable1 = document.querySelectorAll('#aids .table tbody tr'); // Get table rows for Table 1
   let currentPageTable1 = 1;
   const totalPagesTable1 = Math.ceil(tableRowsTable1.length / itemsPerPageTable1);
   let pageNumber1;
   // Pagination functions for Table 1
   function showPageTable1(pageNumber) {
      const startIndex = (pageNumber - 1) * itemsPerPageTable1;
      const endIndex = startIndex + itemsPerPageTable1;
      console.log('page number ',pageNumber);
      pageNumber1 = pageNumber;

      const tableBody = document.getElementById('tableBody');

      const rows = Array.from(tableBody.querySelectorAll('tr'));
      rows.forEach((row, index) => {
         if (index >= startIndex && index < endIndex) {
            row.style.display = 'table-row';
         } else {
            row.style.display = 'none';
         }
      });
   }
   const itemsPerPageTable2 = 5; // Number of items per page for Table 1
   const tableRowsTable2 = document.querySelectorAll('#responses .table tbody tr'); // Get table rows for Table 1
   const totalPagesTable2 = Math.ceil(tableRowsTable2.length / itemsPerPageTable2);
   let currentPageTable2 = 1;
   function showPageTable2(pageNumber) {
      const startIndex = (pageNumber - 1) * itemsPerPageTable2;
      const endIndex = startIndex + itemsPerPageTable2;

      tableRowsTable2.forEach((row, index) => {
         if (index >= startIndex && index < endIndex) {
            row.style.display = 'table-row';
         } else {
            row.style.display = 'none';
         }
      });
   }
   function displayPageNumbersTable1() {
      let pageNumbersHTML = '';
      for (let i = 1; i <= totalPagesTable1; i++) {
         pageNumbersHTML += `<button onclick="showPageTable1(${i})">${i}</button>`;
      }
      document.getElementById('pageNumbersTable1').innerHTML = pageNumbersHTML;
   }
   function displayPageNumbersTable2() {
      let pageNumbersHTML = '';
      for (let i = 1; i <= totalPagesTable2; i++) {
         pageNumbersHTML += `<button onclick="showPageTable2(${i})">${i}</button>`;
      }
      document.getElementById('pageNumbersTable2').innerHTML = pageNumbersHTML;
   }
   function prevPageTable1() {
      if (currentPageTable1 > 1) {
         currentPageTable1--;
         showPageTable1(currentPageTable1);
      }
   }
   function prevPageTable2() {
      if (currentPageTable2 > 1) {
         currentPageTable2--;
         showPageTable1(currentPageTable2);
      }
   }
   function nextPageTable1() {
      if (currentPageTable1 < totalPagesTable1) {
         currentPageTable1++;
         showPageTable1(currentPageTable1);
      }
   }
   function nextPageTable2() {
      if (currentPageTable2 < totalPagesTable2) {
         currentPageTable2++;
         showPageTable1(currentPageTable2);
      }
   }



   //   function sortByDistance() {
   //      var tableBody = document.getElementById('tableBody');
   //      var rows = Array.from(tableBody.getElementsByTagName('tr'));
   //            rows.sort(function(rowA, rowB) {
   //               var distanceA = parseFloat(rowA.cells[0].innerText);
   //               var distanceB = parseFloat(rowB.cells[0].innerText);
   //
   //               return distanceA - distanceB;
   //            });
   //
   //            rows.forEach(function(row) {
   //               table.tBodies[0].appendChild(row);
   //            });
   ////
   //      // Extract distances and associate them with rows
   //      var distances = rows.map(row => {
   //         var distanceCell = row.querySelector('[id^="distId-"]');
   //         var distance = parseFloat(distanceCell.innerText.split(' ')[0]); // Extract distance value
   //         return { distance, row };
   //      });
   //
   //      // Sort rows based on distances
   //      distances.sort((a, b) => a.distance - b.distance);
   //
   //      // Clear the current table body
   //      tableBody.innerHTML = '';
   //
   //      // Re-append sorted rows to the table
   //      distances.forEach(distance => {
   //         tableBody.appendChild(distance.row);
   //      });
   //   }

   function confirmRequest() {
      return confirm("Are you sure you want to request aid?");
   }

   document.addEventListener("DOMContentLoaded", function() {
      // Get the element containing the aid description
      let aidDescriptionElement = document.getElementById("descId");


      // Replace newline characters with HTML line breaks
      let aidDescriptionText = aidDescriptionElement.innerText.replace(/\n/g, '<br>');

      // Set the modified content back to the element
      aidDescriptionElement.innerHTML = aidDescriptionText;

      aidDescriptionElement = document.getElementById("addressId");

      aidDescriptionText = aidDescriptionElement.innerText.replace(/\n/g, '<br>');

      // Set the modified content back to the element
      aidDescriptionElement.innerHTML = aidDescriptionText;
   });

   function showOnMap(latitude, longitude) {
      for (var i = 0; i < markerlist.length; i++) {
         if (markerlist[i]._latlng.lat === latitude && markerlist[i]._latlng.lng === longitude) {
            map.setView([latitude, longitude], 17); // Change the map.getZoom() according to your requirement
            markerlist[i].openPopup();
         }
      }
   }


   //            listItems.forEach(item => {
   //                item.addEventListener('click', function() {
   //                    // Remove the 'highlight' class from all items
   //                    listItems.forEach(item => {
   //                        item.classList.remove('highlight');
   //                    });
   //
   //                    // Add the 'highlight' class to the clicked item
   //                    this.classList.add('highlight');
   //                });
   //            });


   // Assuming you have a reference to your button element
   //            var toggleButton = document.getElementById('toggleMarkerMode');

   // Toggle the 'active' class on button click
   //            toggleButton.addEventListener('click', function () {
   //                this.classList.toggle('active');
   //
   //
   //                // Update the button text based on the presence of the 'active' class
   //                if (this.classList.contains('active')) {
   //                    toggleButton.textContent = 'Cancel';
   //                } else {
   //                    toggleButton.textContent = 'Add aid';
   //                }
   //
   //            });




   function convertIdToName(id) {
      let name = '';

      switch (id) {
         case 1:
            name = 'Basic Necessities Aid';
            break;
         case 3:
            name = 'Education Aid';
            break;
         case 2:
            name = 'Healthcare Aid';
            break;
         case 4:
            name = 'Employment Aid';
            break;
         case 5:
            name = 'Legal Aid';
            break;
         case 6:
            name = 'Community Aid';
            break;
      }
      return  name;
   }

   // Функція для додавання маркера до списку на бічній панелі
   var markerMap = {};





   function addToSidebar(marker) {
      //                const dataElement = document.getElementById('dataElement');
      //                const dataText = dataElement.textContent;

      const sidebarList = document.getElementById('sidebarList');

      const listItem = document.createElement('li');
      listItem.className = "list-group-item d-flex justify-content-between align-items-start";

      const div = document.createElement('div');
      div.className = "ms-2 me-auto";

      const subheading = document.createElement('div');
      subheading.className = "fw-bold";
      subheading.style.fontWeight = "bold"; // Example: Making subheading bold
      subheading.textContent = convertIdToName(marker.aidCategoryEntity.id);

      const descriptionDiv = document.createElement('div');
      descriptionDiv.textContent = marker.description;
      descriptionDiv.innerHTML = marker.description.replace(/\n/g, '<br>'); // Replace newlines with HTML line breaks
      //                descriptionDiv.textContent = marker.description;

      const creatorDiv = document.createElement('div');
      creatorDiv.style.fontStyle = "italic";
      creatorDiv.textContent = "Volunteer: " + marker.usersAidsEntities[0].userEntity.name; // Adding creator's name

      const addressDiv = document.createElement('div');
      addressDiv.textContent = "Address: "+ marker.address;


      //                const removeIcon = document.createElement('i');
      //                removeIcon.className = "fa fa-trash-o";

      listItem.addEventListener('click', function(e) {
         const highlightedItems = document.querySelectorAll('.highlight');
         highlightedItems.forEach(item => item.classList.remove('highlight'));
         this.classList.add('highlight');

         for (var i  = 0; i < markerlist.length; i++) {
            if (markerlist[i]._latlng.lat == marker.latitude && markerlist[i]._latlng.lng == marker.longitude) {
               //                                point_layers.removeLayer(markerlist[i]);
               map.setView([marker.latitude, marker.longitude], 12); // Change the map.getZoom() according to your requirement
               markerlist[i].openPopup();
               break;
            }
         }
      });

      //                if (marker.usersAidsEntities[0].userEntity.email == dataText) {
      //                    div.appendChild(subheading);
      //                    div.appendChild(descriptionDiv);
      //                    div.appendChild(creatorDiv); // Add creator's name to the div
      //
      //                    listItem.appendChild(div);
      //                    listItem.appendChild(removeIcon);
      //
      //                    sidebarList.appendChild(listItem);
      //
      //                    removeIcon.addEventListener('click', function(event) {
      //
      //
      //                        console.log('delete evenet');
      //                        var result = confirm("Want to delete?");
      //
      //                        if (result) {
      //                            console.log('list item ', listItem);
      //                            console.log('our data [',marker.description.trim(),']');
      //
      //                            //                            point_layers.clearLayers();
      //                            for (var i  = 0; i < markerlist.length; i++) {
      //                                if (markerlist[i]._latlng.lat == marker.latitude && markerlist[i]._latlng.lng == marker.longitude) {
      //                                    deleteAidDataFromServer(marker.usersAidsEntities[0].id, marker.id);
      //                                    map.removeLayer(markerlist[i]);
      //                                    sidebarList.removeChild(listItem);
      //                                    //                                    removeLayer(marker);
      //                                    markerCluster.removeLayer(markerlist[i]);
      //
      //                                    break;
      //                                }
      //                            }
      //
      //                        }
      //                    });
      //                } else {
      div.appendChild(subheading);
      div.appendChild(descriptionDiv);
      div.appendChild(creatorDiv);
      div.appendChild(addressDiv);
      listItem.appendChild(div);
      sidebarList.appendChild(listItem);
   }

   // Function to filter aids based on the keyw ord
   function filterAidsByKeyword(keyword) {
      keyword = keyword.toLowerCase().trim();
      document.getElementById("sidebarList").innerHTML = "";
      //                let arr = wrappedMarkers;
      //                wrappedMarkers = [];

      wrappedMarkers.forEach(marker => {
         console.log('curent marker ');
         console.log('',keyword);
         console.log('marker.aidCategoryEntity.id ', convertIdToName(marker.aidCategoryEntity.id),'>',
            convertIdToName(marker.aidCategoryEntity.id).includes(keyword));
         console.log('marker.description ',marker.description,'>',
            marker.description.includes(keyword));
         if (convertIdToName(marker.aidCategoryEntity.id).toLowerCase().includes(keyword.toLowerCase()) ||
         marker.description.toLowerCase().includes(keyword.toLowerCase())) {
            addToSidebar(marker);
            console.log('founded ', marker);
         }

         else {

         }
      });
   }

   document.getElementById('searchField').addEventListener('input', function(event) {
      const keyword = event.target.value.trim(); // Get the entered keyword

      if (keyword != '') {
         filterAidsByKeyword(keyword);
      }
      else {
         //                    console.log('>',keyword,'<');
         document.getElementById("sidebarList").innerHTML = "";
         wrappedMarkers.forEach(element => {
            addToSidebar(element);
         })
      }
   });

   document.getElementById('menuSearchField').addEventListener('input', function(event) {
      var rows = document.querySelector("#aids .table tbody").getElementsByTagName("tr");
      var categorySelect = document.getElementById('categorySelect');

      for (var i = 0; i < rows.length; i++) {
         var rowText = rows[i].textContent.toLowerCase();
         var keyword = this.value.toLowerCase();
         var category = categorySelect.value.toLowerCase();
         //         console.log('selected category ', categorySelect.value);
         //         console.log('rowText ', rowText);


         //         if (rowText.includes(keyword)) {
         //            rows[i].style.display = "";
         //         }
         if (rowText.includes(keyword) && (rowText.includes(category) || categorySelect.value === "All")) {
            rows[i].style.display = "";
         } else {
            rows[i].style.display = "none";
         }
      }
      if (this.value === ""  && categorySelect.value === "All") {
         for (var i = 0; i < rows.length; i++) {
            rows[i].style.display = "";
         }
      }
   });
   document.getElementById('categorySelect').onchange = function() {
      var rows = document.querySelector("#aids .table tbody").getElementsByTagName("tr");

      for (var i = 0; i < rows.length; i++) {
         var rowText = rows[i].textContent.toLowerCase();
         var category = this.value.toLowerCase();

         if (rowText.includes(category) && (rowText.includes(category) || categorySelect.value === "All")) {
            rows[i].style.display = "";
         } else {
            rows[i].style.display = "none";
         }
      }
      if (this.value === "All" && categorySelect.value === "All") {
         for (var i = 0; i < rows.length; i++) {
            rows[i].style.display = "";
         }
      }
   };
   //   function searchTable() {
   //      const input = document.getElementById('menuSearchField').value.toUpperCase();
   //      const table = document.getElementById('aidsTable');
   //      const rows = table.getElementsByTagName('tr');
   //
   //      for (let i = 0; i < rows.length; i++) {
   //         let found = false;
   //         const cells = rows[i].getElementsByTagName('td');
   //         for (let j = 0; j < cells.length; j++) {
   //            const cellText = cells[j].textContent || cells[j].innerText;
   //            if (cellText.toUpperCase().indexOf(input) > -1) {
   //               found = true;
   //               break;
   //            }
   //         }
   //         if (found) {
   //            rows[i].style.display = '';
   //         } else {
   //            rows[i].style.display = 'none';
   //         }
   //      }
   //   }



   let listItems = document.querySelectorAll('#sidebarList li');

   listItems.forEach(item => {
      item.addEventListener('click', function() {
         // Remove the 'highlight' class from all items
         listItems.forEach(item => {
            item.classList.remove('highlight');
         });

         // Add the 'highlight' class to the clicked item
         this.classList.add('highlight');
      });
   });

   function findMarkers() {
      const selectedCategory = document.getElementById('markerColor').value;

      //                const sidebarList = document.getElementById('sidebarList');
      //
      document.getElementById("sidebarList").innerHTML = "";





      // Clear the map before displaying markers based on the selected category
      map.removeLayer(markerCluster); // Assuming `markerCluster` is your marker cluster layer
      markerCluster.clearLayers();
      //
      //                //                // Display markers based on the selected category
      wrappedMarkers.forEach(marker => {
         if (selectedCategory === 'all') {
            console.log('all')
            addMarker(marker, 2); // Adding markers based on the category
         }
         else if (marker.aidCategoryEntity.id.toString() === selectedCategory) {
            addMarker(marker, 2); // Adding markers based on the category

         }
      });
      //
      map.addLayer(markerCluster); // Add the updated marker cluster to the map
   }

   function createAidReq() {
   }


</script>
<script th:src="@{app/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{app/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
<script th:src="@{app/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{app/fastclick/lib/fastclick.js}"></script>
<script th:src="@{app/dist/js/adminlte.min.js}"></script>
<script th:src="@{app/dist/js/demo.js}"></script>
</body>
</html>
